<div class="container">

    <div class="breadcrumb">
        <ul>
            <li>
                <a href="index.html">
                    Ярославские моторы
                </a>
            </li>
            <li>
                <a href="dvigateli.html">
                    Двигатели
                </a>
            </li>
            <li>
                <span>
                    ЯМЗ-236
                </span>
            </li>
        </ul>
    </div>

</div>
