<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <img src="/img/footer_logo.png" class="footer-logo">
            </div>

            <div class="col-lg-3 col-sm-6">
                <p class="footer-desc">
                    Прямая поставка оригинальных: двигателей ЯМЗ, дизельных генераторов, приводов, КПП, МОМ, запасных частей в полном ассортименте.
                </p>
            </div>

            <div class="col-lg-4 col-sm-12">
                <div class="footer-menu">
                    <div class="footer-menu-item">
                        <a href="">О компании</a>
                    </div>
                    <div class="footer-menu-item">
                        <a href="">Двигатели</a>
                    </div>
                    <div class="footer-menu-item">
                        <a href="">Дизельные генераторы и приводы</a>
                    </div>
                    <div class="footer-menu-item">
                        <a href="">Ремоторизация</a>
                    </div>
                    <div class="footer-menu-item">
                        <a href="">Запасные части</a>
                    </div>
                    <div class="footer-menu-item">
                        <a href="">Контакты</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-12">
                <div class="footer-phone">
                    +7 900 800 70 60
                </div>
                <div class="footer-button">
                    <button class="button popup-open button_border_white">Написать нам</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="copyright">
                    Информация предоставлена в ознакомительных целях и не является публичной офертой, определяемой статьёй 437 (2) ГК РФ. Данные о наличии и стоимости товаров на конкретную дату уточняйте у менеджеров компании.
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="popup__overlay">
    <div class="popup">
        <div class="popup__close"></div>
        <!--Begin form-->
        <!--Begin form-->
        <form class="form js-form">
            <h2 class="form__title">Заявка</h2>
            <input class="form__input" name="name" type="text" placeholder="Как к вам обращаться?" required="">
            <input class="form__input" name="email" type="text" placeholder="Ваша электронная почта" required="">
            <input class="form__input js-form__phone" name="phone" type="text" placeholder="Контактный телефон" required="">
            <textarea class="form__input form__input_textarea" name="message" placeholder="Сообщение" required=""></textarea>
            <div class="row">
                <div class="col col-lg-8">
                    <label>
                        <input class="form__file" name="file" type="file">
                        <!--Begin button-->
                        <div class="button button_border_blue form__buttonFile">Выбрать файл</div>
                        <!--End button-->
                        <div class="form__textFile"></div>
                    </label>
                </div>
                <div class="col col-lg-4">
                    <div class="form__text">*Максимальный размер 2МБ</div>
                </div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LexoHMUAAAAAMKDSud5W40obgypC7kdvc_GUhO6"></div>
            <!--Begin button-->
            <button class="button button_bg_blue form__button">Отправить</button>
            <!--End button-->
            <div class="form__success">
                <h2 class="form__title">Спасибо, наш менеджер с вами свяжется!</h2>
            </div>
        </form>
        <!--End form-->
        <!--End form-->
    </div>
</div>
