<header class="header">

    <div class="header_block">
        <img src="/img/logo.png" class="logo logo-big ">
        <img src="/img/logo_min.png" class="logo logo-min">
        <div class="header__sandwich" title="Открыть меню"></div>
    </div>

    <div class="top-menu">
        <div class="header_block_item header_info_block header_info_block_top" id="navbar-collapse">

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 flex flex-end flex-end-first-item">
                <a href="#" class="header_info header_info_phone">
                    +7 (4852) 67-20-02
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 flex flex-end">
                <a href="#" class="header_info header_info_email">
                    mail@yamz-dizel.ru
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 flex flex-end">
                <button class="button popup-open button_border_blue">Сделать заказ</button>
            </div>

        </div>

        <div class="nav header_nav">
            <div class="header_block_item header_menu_block">
                <ul class="nav">
                    <li>
                        <a href="">О компании</a>
                    </li>
                    <li>
                        <a href="/dvigateli.html">Двигатели</a>
                    </li>
                    <li>
                        <a href="">Дизельные генераторы и приводы</a>
                    </li>
                    <li>
                        <a href="">Ремоторизация</a>
                    </li>
                    <li>
                        <a href="">Запасные части</a>
                    </li>
                    <li>
                        <a href="contact.html">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



</header>
