<div class="index-slider top-block">
    <div class="slider">
        <div class="single-item">
            <div class="slide">
                <div class="slide-body">

                    <div class="slide-body-logo">
                        <img src="/img/ymz_slider.png" class="hidden-sm hidden-md hidden-lg" />
                    </div>

                    <div class="slide-body-image">
                        <img src="/img/slides/1.png" />

                    </div>
                    <div class="slide-body-text">
                        <div class="slide-body-text-title">
                            Двигатели ЯМЗ
                        </div>
                        <div class="slide-body-text-desc">
                            Рядные, 4-ехцилиндровые
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide-body">

                    <div class="slide-body-logo">
                        <img src="/img/ymz_slider.png" class="hidden-sm hidden-md hidden-lg" />
                    </div>

                    <div class="slide-body-image">
                        <img src="/img/slides/2.png" />

                    </div>
                    <div class="slide-body-text">
                        <div class="slide-body-text-title">
                            Двигатели ЯМЗ
                        </div>
                        <div class="slide-body-text-desc">
                            Рядные, 4-ехцилиндровые
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide-body">

                    <div class="slide-body-logo">
                        <img src="/img/ymz_slider.png" class="hidden-sm hidden-md hidden-lg" />
                    </div>

                    <div class="slide-body-image">
                        <img src="/img/slides/3.png" />

                    </div>
                    <div class="slide-body-text">
                        <div class="slide-body-text-title">
                            Двигатели ЯМЗ
                        </div>
                        <div class="slide-body-text-desc">
                            Рядные, 4-ехцилиндровые
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide-body">

                    <div class="slide-body-logo">
                        <img src="/img/ymz_slider.png" class="hidden-sm hidden-md hidden-lg" />
                    </div>

                    <div class="slide-body-image">
                        <img src="/img/slides/4.png" />

                    </div>
                    <div class="slide-body-text">
                        <div class="slide-body-text-title">
                            Двигатели ЯМЗ
                        </div>
                        <div class="slide-body-text-desc">
                            Рядные, 4-ехцилиндровые
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide">
                <div class="slide-body">

                    <div class="slide-body-logo">
                        <img src="/img/ymz_slider.png" class="hidden-sm hidden-md hidden-lg" />
                    </div>

                    <div class="slide-body-image">
                        <img src="/img/slides/5.png" />

                    </div>
                    <div class="slide-body-text">
                        <div class="slide-body-text-title">
                            Двигатели ЯМЗ
                        </div>
                        <div class="slide-body-text-desc">
                            Рядные, 4-ехцилиндровые
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
