.form
	position: relative
	cursor: default

	&__title
		margin-bottom: 30px
		text-align: center

	&__input
		display: block
		width: 100%
		margin-top: 20px
		padding: 10px 15px
		color: #5d5d63
		font-size: 14px
		border: 1px solid #d8d8d8
		border-radius: 21px
		outline: none

		&::placeholder
			color: #5d5d63
			opacity: 1
			transition: .5s

		&:focus::placeholder
			opacity: 0

		&_textarea
			min-width: 100%
			max-width: 100%
			min-height: 121px
			height: 121px
			max-height: 121px
			outline: none

	&__file
		position: absolute
		z-index: -50
		width: 0
		height: 0
		opacity: 0

	&__text
		margin-top: 10px
		font-size: 12px

		@media (min-width: $lg)
			margin-top: 30px

	&__textFile
		margin-top: 5px
		text-align: center
		font-size: 12px

	&__button
		display: table
		margin: 30px auto

	&__success
		position: absolute
		z-index: -150
		top: 0
		left: 0
		right: 0
		bottom: 0
		background: white
		opacity: 0
		transition: opacity .5s

		&_active
			z-index: 150
			opacity: 1

	&_active
		z-index: 110
		opacity: 1

.form

	.form__buttonFile
		margin-top: 30px
		color: $colorBlack
		min-width: auto

	.form__button
		width: 100%


label
	display: block
	text-align: center

	.button
		margin: 0 auto

.g-recaptcha
	margin: 30px 0

