.breadcrumb {
  margin-top: 140px;
  background: none;
  padding-left: 0;
  @media (max-width: $md) {
	& {
	  margin-top: 100px;
	}
  }

  @media (max-width: $xs) {
	& {
	  margin-top: 60px;
	}
  }

  ul {
	li {
	  display: inline-block;
	  margin-right: 20px;
	  line-height: 1.5;
	  span {
		font-size: 12px;
	  }
	  a {
		position: relative;
		font-size: 12px;
		text-decoration: underline;
	  }
	  a:after {
		content: "→";
		color: #1378bb;
		position: absolute;
		right: -16px;
		top: -1px;
	  }
	}
  }
}
