.button
	display: block
	max-width: 200px
	width: 100%
	padding: 10px 10px
	// margin: 0 auto
	font-size: 12px
	line-height: 12px
	font-weight: 600
	text-transform: uppercase
	color: #333333
	cursor: pointer
	text-align: center
	transition: .5s
	border-radius: 25px
	border: 2px solid transparent
	outline: none
	background: none

	@media (max-width: $md)
		&
			margin-top: 20px

	@media (max-width: $xs)
		&
			margin-top: 0

	&_border

		&_blue
			border: 2px solid #1378bb

			&:hover
				color: white !important
				background: #1378bb

		&_white
			border: 2px solid white
			color: #fff

			&:hover
				color: #333333
				background: white

	&_bg_blue
		background: #1378bb
		color: #ffffff
		&:hover
			border: 2px solid #1378bb
			background: none
			color: #333
