body {
	background: $mainColor;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 40px;
	margin-bottom: 20px;

	@media (max-width: $md) {
	  & {
		font-size: 16px;
	  }
	}

	@media (max-width: $sm) {
	  & {
		font-size: 15px;
	  }
	}
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.54;
}

p {
	font-size: 15px;
	line-height: 1.5;
	padding-bottom: 15px;

	@media (max-width: $md) {
	  & {
		font-size: 14px;
	  }
	}

	@media (max-width: $sm) {
	  & {
		font-size: 14px;
	  }
	}

}

@media (max-width: $xs) {
  * {
	text-align: left;
  }
}

.flex-block {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;

	.flex-item-50 {
		width: 50%;
		padding: 0;
	}

	@media (max-width: $xs) {
		& {
			display: block;
		}

		.flex-item-50 {
			width: 100%;
			padding: 0;
		}
	}
}

.delimiter-text {
	font-size: 20px;
	padding: 50px 200px;

	@media (max-width: $lg) {
		& {
			padding: 50px 100px;
		}
	}
	@media (max-width: $sm) {
		& {
			padding: 50px 0;
			text-align: left;
		  	font-size: 18px;
		}
	}
	@media (max-width: $xs) {
	  & {
		font-size: 16px;
	  }
	}
}


.block-delimiter {
  //display: flex;
  //justify-content: flex-start;
  overflow: hidden;
  width: 100%;
  //max-height: 440px;
  margin-top: 100px;
  margin-bottom: -100px;
  z-index: -1;

  @media (max-width: $xl) {
	& {
	  display: flex;
	  justify-content: flex-start;
	  overflow: hidden;
	  width: 100%;
	  max-height: 440px;
	  margin-top: 100px;
	  margin-bottom: -100px;
	  z-index: -1;
	}
  }

  @media (max-width: $md) {
	& {
	  max-height: 340px;
	  margin-top: 70px;
	  margin-bottom: -100px;
	}
  }

  @media (max-width: $xs) {
	& {
	  max-height: 240px;
	  margin-top: 50px;
	  margin-bottom: -60px;
	}
  }

  &-image {
	width: 103%;
	@media (max-width: $xl) {
	  & {
		width: 100%;
	  }
	}
  }

  &-image img {

	width: 100%;

	@media (max-width: $xl) {
	  & {
		width: auto;
		height: 100%;
	  }
	}

	@media (max-width: $lg) {
	  & {
		margin-left: -100px;
	  }
	}

	@media (max-width: $md) {
	  & {
		margin-left: -80px;
	  }
	}

	@media (max-width: $xs) {
	  & {
		margin-left: -50px;
	  }
	}
  }
}

.block-delimiter-right {
  position: relative;
  //display: flex;
  //justify-content: flex-end;
  overflow: hidden;
  width: 100%;
  //max-height: 440px;
  top: -150px;
  margin-bottom: 0px;
	z-index: -1;

  @media (max-width: $xl) {
	& {
	  position: relative;
	  display: flex;
	  justify-content: flex-end;
	  overflow: hidden;
	  width: 100%;
	  max-height: 440px;
	  top: -150px;
	  margin-bottom: 0px;
	  z-index: -1;
	}
  }

  @media (max-width: $lg) {
	& {
	  margin-bottom: -80px;
	}
  }

  @media (max-width: $md) {
	& {
	  max-height: 340px;
	  top: -130px;
	  margin-bottom: -80px;
	}
  }

  @media (max-width: $xs) {
	& {
	  max-height: 240px;
	  margin-top: 80px;
	  margin-bottom: -130px;
	}
  }
  &-image {
	width: 103%;
	@media (max-width: $xl) {
	  & {
		width: auto;
	  }
	}
  }
  &-image img {
	width: 100%;

	margin-left: -50px;

	@media (max-width: $xl) {
	  & {
		width: auto;
		height: 100%;
		margin-left: auto;
	  }
	}


	@media (max-width: $lg) {
	  & {
		margin-right: -100px;
	  }
	}

	@media (max-width: $md) {
	  & {
		margin-right: -50px;
	  }
	}

	@media (max-width: $xs) {
	  & {
		margin-right: -50px;
	  }
	}
  }
}

@media (min-width: $lg) {
	.container {
		width: $lg;
	}
}

.advantages {
	.flex-block {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.advantage-item {
		max-width: 33%;
		padding: 0 15px 40px 15px;

		&-title {
			font-size: 18px;
			font-weight: bold;
			padding-top: 25px;
			@media (max-width: $xs) {
			  & {
				font-size: 15px;
			  }
			}
		}
		&-text {
			padding-top: 15px;
			@media (max-width: $xs) {
			  & {
				font-size: 12px;
			  }
			}
		}
		@media (max-width: $xs) {
			& {
				max-width: 100%;
			}
		}
	}
}

.top-block {
  margin-top: 0;
  @media (max-width: $xs) {
	& {
	  margin-top: 0;
	}
  }
}

.index-slider {
  margin-top: 120px;
}

.form .button {
  max-width: 100%;
}

.form .form__button {
  width: 100%;
}
