.contact-content {

  .contact-col-head {
    font-weight: bold;
    font-size: 16px;
  }

  .contact-col-title {
    font-weight: bold;
    display: block;
  }
  .contact-city {
    display: block;
    font-style: italic;
    text-decoration: underline;
  }

  a {
    display: block;
  }

  .map-img {
    width: 100%;
    margin-bottom: 20px;
  }

  .form__title {
    text-align: left;
    margin-bottom: 0px;
  }

  ul {
    margin-bottom: 20px;
  }
  li {
    margin-left: 0;
    padding-left: 25px;
    padding-bottom: 10px;
    background: url("/img/dash.gif") no-repeat 0 9px;
  }

  b {
    font-weight: bold;
  }
}

.contact-header {
  display: block;
  padding: 50px;
  margin-bottom: 30px;
  background: #F3F5F8;
  b {
    font-weight: bold;
  }
  .contact-header-links {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .contact-header-text {
    h1 {
      margin-top: 0px;
    }

    div {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}