.engine {


  @media (max-width: $md) {
	& {

	}
  }

  @media (max-width: $xs) {
	& {

	}
  }

  .big-show {
	//display: flex;

	h1 {
	  font-size: 23px;
	}
  }

  &-image-block {

	&-big {
	  padding: 50px;
	  img {
		width: 100%;
	  }
	}

	&-small {
	  display: flex;
	  justify-content: center;

	  margin-top: 0px;
	  &-img {
		width: 33%;
		height: 120px;
		padding: 5px;
		text-align: center;

		@media (max-width: $md) {
		  & {
			height: 80px;
		  }
		}

		img {
		  height: 100%;
		}
	  }
	}
  }

  &-desc-block {

	@media (max-width: $sm) {
	  & {
		margin-top: 30px;
	  }
	}

	&-usage {

	  margin-top: 30px;

	  &-title {
		font-size: 18px;
		font-weight: 500;
		@media (max-width: $md) {
		  & {
			margin-top: 30px;
		  }
		}
	  }

	  &-list {
		position: relative;
		ul {
		  color: #333333;
		  padding-left: 25px;

		  li {
			margin: 10px 0;
			line-height: 1.6;

			&:before {
			  content: url("/img/list-style.png");
			  position: absolute;
			  left: 0;
			  margin-top: -3px;
			}
		  }
		}
	  }

	  &-info {

		display: block;
		margin-top: 50px;

		.info-price {
		  display: inline-block;
		  color: #cb3232;
		  font-size: 34px;
		  font-weight: 800;
		  float: left;
		  margin-right: 40px;

		  @media (max-width: $md) {
			& {
			  display: block;
			  margin-bottom: 20px;
			}
		  }

		  span {
			font-weight: normal;
			vertical-align: middle;
			border-bottom: 2px solid;
			line-height: 13px;
			display: inline-block;
			width: .6em;
		  }
		}

		.info-button {
		}
	  }
	}
	h1 {
	  font-size: 32px;
	  font-weight: 900;

	  @media (max-width: $md) {
		& {
		  font-size: 28px;
		  font-weight: 900;
		}
	  }

	  @media (max-width: $xs) {
		& {
		  font-size: 23px;
		  font-weight: 900;
		}
	  }
	}
  }

  .single-image {
	padding: 10px;
	margin-top: 40px;
	@media (max-width: $md) {
	  & {
		margin-top: auto;
	  }
	}
	img {
	  width: auto;
	  display: block;
	  margin: 0 auto;
	  @media (max-width: $lg) {
		& {
		  width: 100%;
		}
	  }

	  @media (max-width: $md) {
		& {
		  width: 100%;
		}
	  }
	}
  }

}


.engine-mobile-title {
  margin-top: 0;
}

.tth-table {
  margin-top: 80px;
  margin-bottom: 50px;

  @media (max-width: $md) {
	& {
	  margin-bottom: 20px;
	}
  }

  @media (max-width: $xs) {
	& {
	  margin-bottom: 10px;
	}
  }


  .table-name {
	font-size: 17px;
	background: #1378bb;
	color: #ffffff;
	padding: 15px;
	@media (max-width: $md) {
	  & {
		font-size: 15px;
	  }
	}

	@media (max-width: $xs) {
	  & {
		font-size: 14px;
	  }
	}
  }

  .table-body {
	.table-row {
	  display: flex;
	  flex-wrap: wrap;
	  line-height: 1.6;

	  @media (max-width: $ssm) {
		& {
		  font-size: 13px;
		  background: #eeeeee;
		}
	  }

	  &:nth-child(even) {
		background: #eeeeee;

		@media (max-width: $ssm) {
		  & {
			//background: #ffffff;
		  }
		}
	  }
	}
	.table-col {
	  padding: 15px;
	  width: 33%;

	  &:first-child {
		border-right: 2px #ffffff solid;
	  }

	  &:nth-child(3) {
		border-left: 2px #ffffff solid;
	  }

	  @media (max-width: $ssm) {

		&.col-name {

		  width: 100%;
		  background: #ffffff;
		}

		& {
		  width: 50%;
		  background: #eeeeee;
		}

	  }
	}
  }
}
