.engines {
  margin-top: 50px;
  color: #333;

  @media (max-width: $sm) {
	& {
	  margin-top: 0;
	}
  }

  @media (max-width: $xs) {
	& {
	  margin-top: 0;
	}
  }

  &-engine {
	position: relative;
	margin-bottom: 110px;

	&:last-child {
	  margin-bottom: 0;
	  @media (max-width: $xs) {
		& {
		  margin-bottom: 60px;
		}
	  }
	}

	&-bg {
	  .bg-name {
		line-height: .7;
		bottom: 0;
		width: 100%;
		position: absolute;
	  }

	  background: #f3f3f3;
	  min-height: 240px;
	  font-size: 270px;
	  font-weight: 800;
	  text-align: center;
	  color: #fff;
	  text-transform: uppercase;
	  position: absolute;
	  width: 100%;

	  @media (max-width: $xl) {
		& {
		  font-size: 270px;
		}
	  }

	  @media (max-width: $lg) {
		& {
		  font-size: 200px;
		}
	  }

	  @media (max-width: $md) {
		& {
		  font-size: 150px;
		}
	  }

	  @media (max-width: $sm) {
		& {
		  font-size: 100px;
		}
	  }

	  @media (max-width: $xs) {
		& {
		  font-size: 60px;
		}
	  }
	}
	.engine-info {
	  position: relative;
	  z-index: 9;
	  display: flex;
	  justify-content: center;
	  align-items: stretch;
	  @media (max-width: $sm) {
		& {
		  align-items: center;
		  flex-direction: column-reverse;
		}
	  }
	  &-image {
		display: inline-block;
		width: 50%;
		text-align: center;
		margin-top: 50px;

		@media (max-width: $sm) {
		  & {
			width: 100%;
			margin-top: 30px;
		  }
		}

		@media (max-width: $sm) {
		  img {
			width: 65%;
		  }
		}
	  }
	  &-name {
		display: inline-block;
		width: 50%;
		margin-top: 80px;
		@media (max-width: $sm) {
		  & {
			margin-top: 20px;
			margin-left: 20px;
			width: 100%;
		  }
		}
		.engine_name {
		  font-size: 32px;
		  font-weight: 900;
		  margin-bottom: 20px;
		  @media (max-width: $sm) {
			& {
			  font-size: 24px;
			}
		  }
		}
		.engine_desc {
		  font-size: 18px;
		  font-weight: 600;
		  @media (max-width: $sm) {
			& {
			  font-size: 14px;
			}
		  }
		}
	  }

	  &-desc {
		display: flex;
		align-items: flex-start;
		width: 50%;
		@media (max-width: $sm) {
		  & {
			width: 100%;
		  }
		}
		@media (max-width: $md) {
		  & {
			flex-direction: column;
		  }
		}
		.info-desc-item {
		  display: inline-block;
		  width: 33%;
		  @media (max-width: $md) {
			& {
			  width: 100%;
			}
		  }
		  .desc-name {
			color: #1378bb;
			font-size: 34px;
			font-weight: bold;
			margin-bottom: 15px;
			@media (max-width: $md) {
			  & {
				font-size: 20px;
				display: inline-block;
				margin-right: 10px;
			  }
			}
		  }
		  .desc-txt {
			font-size: 14px;
			@media (max-width: $md) {
			  & {
				font-size: 13px;
				display: inline-block;
			  }
			}
		  }
		}
	  }

	  &-addon-image {
		display: flex;
		width: 50%;
		@media (max-width: $sm) {
		  & {
			width: 100%;
		  }
		}
		.addon-image {
		  width: 33%;

		  img {
			width: 100%;
		  }
		}
		.engine-buttons {
		  position: absolute;
		  width: 50%;
		  margin-top: -80px;
		  justify-content: flex-start;
		  .button {
			width: auto;
			padding: 10px 15px;
			margin-right: 20px;
			@media (max-width: $md) {
			  & {
				color: #333
			  }
			}

			@media (max-width: $sm) {
			  & {
				// width: 100%;
				// max-width: 100%;
				margin-top: 0;
				margin-bottom: 10px;
				margin-right: 10px;
			  }
			}

			@media (max-width: $xxs) {
			  & {
				width: 100%;
				max-width: 100%;
				margin-top: 0;
				margin-bottom: 10px;
				margin-right: 0;
			  }
			}

		  }
		  @media (max-width: $sm) {
			& {
			  width: 100%;
			  top: auto;
			  bottom: -70px;
			  flex-direction: row;
			}
		  }
		  @media (max-width: $xxs) {
			& {
			  width: 100%;
			  top: auto;
			  bottom: -90px;
			  flex-direction: column;
			}
		  }
		}
	  }
	}

	.engine-info-addon {
	  align-items: center;
	}

	&:after {
	  content: '';
	  display: block;
	}
  }

  a.button_border_blue:hover {
	text-decoration: none;
  }
}

.link {
	width: fit-content;
	min-width: 300px;
  	margin: 60px 0px 20px 0px;

	@media (max-width: $sm) {
	  & {
		margin: 90px 0 10px 0;
	  }
	}

	@media (max-width: $xs) {
	  & {
		margin: 40px 0 10px 0;
	  }
	}
  li {

	border-bottom: 1px #1378bb solid;

	a {
	  display: block;
	  font-size: 24px;
	  color: #1378bb;
	  text-transform: uppercase;
	  font-weight: bold;

	  padding-top: 10px;
	  padding-bottom: 10px;
	  padding-left: 10px;
	  padding-right: 50px;

	  @media (max-width: $md) {
		& {
		  font-size: 20px;
		  span {
			font-size: 16px;
		  }
		}
	  }

	  @media (max-width: $xs) {
		& {
		  font-size: 18px;
		  span {
			font-size: 14px;
		  }
		}
	  }

	  &:hover {
		background: #1378bb;
		color: #fff;
		text-decoration: none;
	  }

	  span {
		font-weight: normal;
		font-size: 18px;
	  }
	}
  }
}

.link.top-0 {
  margin-top: 0px;
}

.blue-text {
  font-size: 24px;
  color: #1378bb;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 50px;
  @media (max-width: $md) {
  & {
	font-size: 20px;

	}
  }

  @media (max-width: $xs) {
	& {
	  font-size: 18px;

	}
  }
}

.engine-bottom-text {
  font-size: 18px;
  line-height: 1.3;
  @media (max-width: $md) {
	& {
	  font-size: 16px;

	}
  }

  @media (max-width: $xs) {
	& {
	  font-size: 15px;

	}
  }

}


