.engines.family {
  margin-top: 10px;
}
.family {
  //margin-top: 180px;
  margin-bottom: 50px;

  .engine-buttons {
    .button {
      @media (max-width: $sm) {
        & {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
  @media (max-width: $sm) {
    & {
      margin-bottom: 100px;
    }
  }
}

#content {
  margin-bottom: 50px;
}

.block-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 60px;
  span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    @media (max-width: $sm) {
      & {
        font-size: 14px;
        margin-top: 15px;
      }
    }

    @media (max-width: $md) {
      & {
        font-size: 16px;
        margin-top: 15px;
      }
    }
  }
  @media (max-width: $sm) {
    & {
      font-size: 22px;
    }
  }

  @media (max-width: $md) {
    & {
      font-size: 28px;
    }
  }

}

.engines-list {
  margin-bottom: 60px;

  .list-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px;
  }

  .list {
    max-height: 150px;
    display: flex;
    //flex-direction: column;
    //justify-content: flex-start;
    flex-wrap: wrap;

    @media (max-width: $sm) {
      & {
        max-height: none;
      }
    }

    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: underline;
    }
  }
}


.s-h1 {
  font-size: 20px;
  font-weight: bold;
}


.read-more-link {
  display: none;
  @media (max-width: $xs) {
    & {
      position: relative;
      width: 130px;
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 10px 20px;

      font-size: 12px;
      color: #333333;

      border: 1px #1378bb solid;
      border-radius: 20px;
    }
  }

}

.more-close:after {
  content: url("/img/caret-close.png");
  position: absolute;
  right: 15px;
}

.more-open:after {
  content: url("/img/caret-open.png");
  position: absolute;
  right: 15px;
}
