.filter {
  //margin-top: 50px;
	.nav {
	  font-size: 13px;
	  font-weight: 600;
	  .active {
		span {
		  display: block;
		  padding: 10px;
		  background: #1378bb;
		  color: #fff;
		  border-radius: 5px;
		}
	  }
	  li {
		padding: 10px 15px;
		a {
			padding: 0;
		  border-bottom: 1px #333 dashed;
		  &:hover {
			color: #1378bb;
			background-color: transparent;
			border-bottom: 1px #1378bb dashed;
		  }
		}
	  }
	}
  @media (max-width: $md) {
	& {
	  margin-top: 0px;
	}
  }
}
