.footer {
  background: #333333;
  color: #fff;
  font-size: 13px;
  margin-top: 50px;
  padding-top: 40px;

  &-phone {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block;
    @media (max-width: $xs) {
      & {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &-button {
    display: inline-block;
    margin-left: 0;
    min-width: 180px;
    @media (max-width: $llg) {
      & {
        margin-left: 40px;
        margin-top: 20px;
      }
    }
    @media (max-width: $xs) {
      & {
        display: block;
        margin-left: 0;
      }
    }
  }

  &-desc {
    font-size: 13px;
    line-height: 1.7;
    padding-right: 20px;
    @media (max-width: $xs) {
      & {
        margin-top: 20px;
      }
    }
  }

  &-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 115px;
    @media (max-width: $lg) {
      & {
        height: 130px;
      }
    }
    @media (max-width: $llg) {
      & {
        height: 95px;
        margin-top: 50px;
      }
    }
    @media (max-width: $xs) {
      & {
        height: auto;
        margin-top: 20px;
      }
    }
    &-item {
      margin-bottom: 20px;
      padding-right: 15px;
      width: 50%;
      @media (max-width: $llg) {
        & {
          width: 33%;
        }
      }
      @media (max-width: $xs) {
        & {
          width: 100%;
        }
      }
      a {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .copyright {
    font-size: 10px;
    padding: 25px 0;
  }

}
