.header {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	&_mini {
		transform: translateY(-75px);
		.header_nav {
			background: #333333;
			li a {
				color: #ffffff;
			}
		}
		.header_menu_block {
			height: 57px;
		}

		.logo {
			top: 88px;
		}
	}

	@media (max-width: $md) {
		.header_nav {
			background: #444349;
			padding-bottom: 30px;
		  	padding-top: 15px;
		  	height: 100%;
			li a {
				color: #ffffff;
			}
		}
		&_mini {
			transform: none;
			.header__sandwich {
				top: 15px;
				border-top: 3px solid #fff;
			}
			.header__sandwich:before {
				content: '';
				background: #fff;
				-webkit-transition: .5s;
				-o-transition: .5s;
				transition: .5s;
			}

			.header__sandwich:after {
				content: '';
				background: #fff;
				-webkit-transition: .6s;
				-o-transition: .6s;
				transition: .6s;
			}

			.header__sandwich_open {
				border: none;
				top: 9px;
			}

			.header_block {
				display: block;
				position: fixed;
				max-width: $lg;
				width: 100%;
				height: 55px;
				margin: 0 auto;
				background: #333333;
			}

			.header_nav {
				background: #444349;
				height: 100%;
				li a {
					color: #ffffff;
				}
			}
			.header_menu_block {
				height: auto;
			}

			.logo {
				top: 13px;
				height: 30px;
				left: 23px;
			}

			.top-menu {
				position: fixed;
				width: 100%;
				z-index: 99;
				transform: translateX(-100%);
				transition: transform .5s, -webkit-transform .5s;
			  	top: 55px;
			  	height: 100%;
				&-open {
					transform: none;
					top: 55px;
				}
				.header_info_block {
					margin: 0;
				}
			}

		}
	}
}

.header_nav {
	background: #e8e8e8;
	@media (max-width: $md) {
		li {
			display: block;
		}

		li a {
			color: #ffffff;

		  &:focus {
			background-color: transparent;
			outline: none;
		  }

		  &:hover {
			background-color: transparent;
			outline: none;
		  }
		}
	}
}

@media (max-width: $md) {
	.top-menu {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 99;
		transform: translateX(-100%);
		transition: transform .5s, -webkit-transform .5s;

		&-open {
			transform: none;
		  	height: 100%;
			.button_border_blue {
			  color: #ffffff;
			}
		  	.header_nav {
			  height: 100%;
			}
		}
	}

	.logo {
		left: 0;
		height: 85px;
	}

	.index-slider {
		margin-top: 85px;
	}

}

.logo {
	position: absolute;
	left: 15px;
	top: 0;

	@media (max-width: $lllg) {

	  & {
		left: 0;
	  }

	}
}

.header_mini {
  .logo-big {
	display: none;
  }

  .logo-min {
	display: block;
  }
}

.logo-min {
  display: none;
}

.header_block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	max-width: $lg;
	margin: 0 auto;

	@media (max-width: $xs) {
	  & {
		display: block;
		height: 55px;
		background: #333333;

		.logo-min {
		  top: 13px;
		  height: 30px;
		  left: 15px;
		  display: block;
		}
		.logo-big {
		  display: none;
		}
		.header__sandwich {
		  top: 15px;
		  border-top: 3px solid #fff;
		}

		.header__sandwich:before {
		  content: '';
		  background: #fff;
		  -webkit-transition: .5s;
		  -o-transition: .5s;
		  transition: .5s;
		}

		.header__sandwich:after {
		  content: '';
		  background: #fff;
		  -webkit-transition: .6s;
		  -o-transition: .6s;
		  transition: .6s;
		}

		.header__sandwich_open {
		  border: none;
		  top: 9px;
		}

	  }
	}

	&_item {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		max-width: $lg;
		margin: 0 auto;
	}
}



.header_menu_block {
	height: 43px;
	@media (max-width: $md) {
		& {
			justify-content: flex-start;
			background-color: #444349;
			height: auto;
			padding-left: 30px;
		}
	}
}

.nav {
	text-transform: uppercase;
	li {
		display: inline-block;
		@media (max-width: $lg) {
		  &:last-child {
			padding-right: 15px;
		  }
		}
		a {
		  color: #333333;
		  font-weight: 600;
		  font-size: 12px;
		  padding-left: 0;

		  @media (max-width: $lg) {
			& {
			  font-size: 11px;
			  padding-right: 10px;
			}
		  }

		  @media (max-width: $llg) {
			& {
			  font-size: 10px;
			  padding-right: 5px;
			}
		  }

		  @media (max-width: $lllg) {
			& {
			  font-size: 9px;
			  padding-right: 5px;
			}
		  }

		  @media (max-width: $md) {
			& {
			  font-size: 14px;
			}
		  }

		  &:focus {
			background-color: transparent;
			outline: none;
		  }

		  &:hover {
			background-color: transparent;
			outline: none;
		  }
		}
	}

}

.header_info_block {
	&_top {
		height: 75px;
	}

    @media (max-width: $md) {
		& {
			justify-content: flex-start;
			margin-top: 85px;
			background-color: #444349;
			border-bottom: 1px #55545a solid;
			height: auto;
			padding: 30px 0;
			padding-left: 15px;
		}

		.logo {
			top: -118px;
		}

	}

  @media (max-width: $xs) {
	& {
	  margin-top: 0;

	}
  }
}


.flex {
	display: flex;

	&-end {
		justify-content: flex-end;

		@media (max-width: $md) {
			& {
				justify-content: flex-start;
			}
			&-first-item {
				max-width: 200px;
			}
		}
	}
	@media (max-width: $xs) {
		& {
			width: 100%;
			margin-top: 20px;
		}
		&:first-child {
			max-width: 100%;
			margin-top: 0;
		}

	}

}

.header_info {
	font-size: 16px;
	line-height: 1.2;
	color: #333333;
	font-weight: 600;
	border-bottom: 1px #333 dashed;

	&:hover {
		text-decoration: none;
		color: #333333;
	}
	@media (max-width: $md) {
		& {
			border-bottom: 1px #fff dashed;
			color: #fff;
		}
	}
}

.header__sandwich, .nav__sandwich {
	position: absolute;
	z-index: 101;
	top: 30px;
	right: 23px;
	width: 30px;
	height: 25px;
	border-top: 3px solid #323237;
	cursor: pointer;

	@media (min-width: $md) {
		& {
			display: none;
		}
	}
}

.header__sandwich:before, .nav__sandwich:before {
	content: '';
	display: block;
	height: 3px;
	margin-top: 8px;
	background: #323237;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.header__sandwich:after, .nav__sandwich:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: #323237;
	-webkit-transition: .6s;
	-o-transition: .6s;
	transition: .6s;
}

.header__sandwich_open, .nav__sandwich_open {
	top: 25px;
	border: none;
}

.header__sandwich_open:before, .nav__sandwich_open:before {
	width: 100%;
	margin: 0;
	position: absolute;
	bottom: 5px;
	left: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.header__sandwich_open:after, .nav__sandwich_open:after {
	bottom: 5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

