.news-date-time {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}


h2, h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.news-item a {
  padding: 0;
  border-bottom: 1px #333 dashed;
}

.news-item a:hover {
  padding: 0;
  border-bottom: 1px #333 dashed;
  text-decoration: none;
}

.content {
  img {
	max-width: 100%;
	margin: 10px 10px 10px 10px;
  }

  h2 {
	font-size: 14px;
  }

  td {
	vertical-align: middle;
  }
}

.content {
  ul {
	list-style-type: disc;
	list-style-image: none;
	margin-left: 20px;
	margin-bottom: 30px;

	li {
	  padding: 5px 0px;
	}
  }
}


.catalog-table {
  width: 100%;

  tr:nth-child(odd) {
	background: #eeeeee;
  }

  tr:nth-child(even) {
	background: #fff;
  }

  th {
	padding: 15px;
	font-size: 11px;
	vertical-align: middle;
	/* font-weight: bold; */
	text-align: left;
	background: #1378bb;
	color: #fff;
	font-size: 17px;
  }


  td {
	border: solid 2px #FFFFFF;
	padding: 15px;
	font-size: 15px;
	height: 12px;
	line-height: 14px;
	vertical-align: middle;
	text-align: left;
  }
}
