.index-slider {
  position: relative;
  margin-bottom: 60px;

  @media (max-width: $xs) {
    & {
      margin-top: 55px;
    }
  }
}

.slider {
  display: block;
  height: auto;
  width: 100%;
  background: url("/img/slider_bg.jpg") no-repeat top center;
  background-size: cover;

  @media (max-width: $xl) {
    & {
      display: block;
      height: auto;
      width: 100%;
      background: url("/img/slider_bg.jpg") no-repeat top center;
      background-size: contain;
    }
  }

  @media (max-width: $md) {
    & {
      display: block;
      height: auto;
      width: 100%;
      background: url("/img/slider_bg_lg.jpg") no-repeat top center;
      background-size: contain;
    }
  }

  @media (max-width: $sm) {
    & {
      display: block;
      height: auto;
      width: 100%;
      background: url("/img/slider_bg_lg.jpg") no-repeat top center;
      background-size: cover;
    }
  }

  @media (max-width: $xs) {
    & {
      background: url("/img/slider_bg_xs.jpg") no-repeat top center;
      background-size: contain;
    }
  }

  .slide {

    &-body {
      position: relative;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: $xs) {
        & {
          flex-direction: column-reverse;
          align-items: baseline;
        }
      }

      &-logo {
        margin-top: -50px;
        min-width: 250px;

        @media (max-width: $md) {
          & {
            min-width: 200px;
          }
        }

        @media (max-width: $ssm) {
          & {
            min-width: 160px;
          }
        }

        @media (max-width: $md) {
          & {
            margin-top: 10px;
          }
        }


        img {
          margin: 0 auto;

          @media (max-width: $llg) {
            & {
              display: none;
            }
          }

          @media (max-width: $md) {
            & {
              width: 80%;
            }
          }
        }
      }

      &-image {
        margin-top: 50px;
        @media (max-width: $llg) {
          & {
            margin-top: 20px;
          }
        }

        @media (max-width: $md) {
          & {
            margin-top: 20px;
          }
        }

        @media (max-width: $xs) {
          & {
            margin: 0 auto;
            margin-top: 105px;
          }
        }

        @media (max-width: $xxs) {
          & {
            margin-top: 75px;
          }
        }

        img {
          margin: 0 auto;
          @media (max-width: $llg) {
            & {
              width: 80%;
            }
          }
          @media (max-width: $md) {
            & {
              width: 80%;
            }
          }
        }
      }


      &-text {
        margin-top: -50px;
        @media (max-width: $md) {
          & {
            margin-top: -30px;
          }
        }
        @media (max-width: $sm) {
          & {
            margin: 15px;
          }
        }
        &-title {
          color: #1378bb;
          font-size: 34px;
          font-weight: 800;
          margin-bottom: 10px;

          @media (max-width: $xxs) {
            & {
              font-size: 24px;
              margin-bottom: 7px;
            }
          }

          @media (max-width: $md) {
            & {
              font-size: 28px;
            }
          }
        }

        &-desc {
          color: #333333;
          font-size: 18px;
          font-weight: 600;

          @media (max-width: $xxs) {
            & {
              font-size: 15px;
            }
          }

          @media (max-width: $md) {
            & {
              font-size: 16px;
            }
          }
        }
      }
    }

  }
}

.slick-dots {
  @media (max-width: $ssm) {
    & {
      bottom: -40px;
    }
  }
}


.slick-dots li {
  margin: 0px 10px;
}

.slick-dots li button {
  font-size: 0;
  /* more CSS */
}

.slick-dots li.slick-active button:before {
  content:url("/img/slide_dot_active.png");
  opacity: 1;
}

.slick-dots li button:before {
  content:url("/img/slide_dot.png");
  opacity: 1;
}
