// TYPOGRAPHY styles

@font-face
	font-family: 'Montserrat'
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf')
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype')
	font-weight: 500
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype')
	font-weight: 600
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype')
	font-weight: 700
	font-style: normal

@font-face
	font-family: 'Montserrat'
	src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format('truetype')
	font-weight: 800
	font-style: normal
// END: TYPOGRAPHY styles
