<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>

<!--=include template/header.html -->

<!--=include template/breadcrumbs.html -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="engine-mobile-title">Комплекты переоборудования двигателей ЯМЗ и ТМЗ</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="content">
                <div class="">
                    <div class="top-area">
                        <h2>Адаптация двигателей ЯМЗ на шасси импортной и отечественной, промышленной и сельскохозяйственной техники</h2>

                        <p><em>Закажите комплект переоборудования для установки двигателя ЯМЗ сейчас, отправив запрос на </em><em>e-mail&nbsp;</em><a href="mailto:mail@yamz-dizel.ru"><b><i>mail@yamz-dizel.ru</i></b></a><em>, или позвонив по телефону</em><em> </em><strong><em> (4852) 67-20-02</em></strong>.</p>

                        <p><img id="bxid_461332" src="/img/dd233a083cddf0afd3827399a0c1bca8.jpg" title="комплект переоборудования Komatsu" hspace="5" vspace="5" border="3" align="left" alt="комплект переоборудования Komatsu" width="250" height="215"></p>

                        <p>Инжиниринг одно из наших фирменных направлений, имеющее большой потенциал - мы адаптируем двигатели ЯМЗ и ТМЗ на отечественную, а так же импортную технику, как промышленного, так и сельскохозяйственного назначения. Над проектированием комплектов переоборудования работают квалифицированные специалисты, получившие опыт в конструкторском отделе Ярославского моторного завода.
                            <br>
                            Установка двигателя ЯМЗ (ТМЗ) на базовое шасси позволяет не только сохранить, но в некоторых случаях и улучшить эксплуатационные параметры техники. Замена базового двигателя на ЯМЗ или ТМЗ позволит сэкономить на эксплуатационных расходах, так как силовой агрегат ЯМЗ неприхотлив к качеству топлива и при правильной эксплуатации довольно экономичен. Двигатели ЯМЗ и ТМЗ отличаются простотой в обслуживании и высокой ремонтопригодностью - текущий ремонт можно осуществить прямо "в поле".
                            <br>
                        </p>
                    </div>
                </div>

                <h2>Переоборудование импортной техники на двигатели ЯМЗ и ТМЗ</h2>

                <p>Адаптированные дизели ЯМЗ могут применяться на широком спектре машин зарубежного производства. Спрос на адаптацию двигателей ЯМЗ к шасси импортной техники возник по причине сложности последней в обслуживании: специалистов мало и они в основном в крупных промышленных центрах, капитальный ремонт дорог, запасные части приходится ждать подолгу и они недешевы, сама техника весьма требовательна к качеству топливной смеси и смазочных материалов. Немаловажное значение имеет и то, что адаптированные двигатели ЯМЗ стоят на порядок ниже импортного аналога. На сегодняшний день наибольшим спросом пользуется замена мотора Cummins на дизели ЯМЗ или ТМЗ.
                    <br>

                    <br>
                    Свежие разработки Вы можете увидеть в разделе сайта <a href="/news/" title="Новости ЯМЗ">Новости</a>.
                    <br>
                </p>

                <p>Нами уже спроектированы и изготовлены комплекты переоборудования двигателей ЯМЗ и ТМЗ на:</p>
                <ul>
                    <li>Shantui - бульдозеры SD-32;</li>
                    <li>Komatsu - бульдозеры D-155A, D-355A и трубоукладчики D-155C, D-355C;</li>
                    <li>Caterpillar - бульдозеры D9H, D9L, D9N, D10N и трубоукладчики D594H;</li>
                    <li>Hitachi - погрузчики фронтальные HL770,&nbsp;экскаваторы&nbsp;ZX330, ZX350&nbsp;и ZX400, прочую карьерную и землеройную технику;</li>
                    <li>Buhler Versatile 2375, Buhler Versatile 425, Buhler Versatile 435, Buhler Versatile 535, Case STX-530 Steiger, Claas, New Holland и Landini - тракторы различных моделей;</li>
                    <li>Dominator, New Holland, Claas и John Deere - зерноуборочные комбайны;</li>
                    <li>Agrifac, Grimme и Kleine - свеклоуборочные комбайны;</li>
                    <li>Е-281, New Holland, Claas - кормоуборочные комбайны;</li>
                    <li>многую другую технику.</li>
                </ul>
                
                <table style="text-align: right; border-collapse: collapse;" cellspacing="1" cellpadding="1" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="/files/Сonversion kits poll.pdf" title="Опросный лист комплекта переоборудования ЯМЗ" target="_blank">
                                    <img src="/img/6d3cbea58b2da897a1d5ad6eac3f44b9.jpg" border="0" width="50" height="51">
                                </a>
                            </td>
                            <td>
                                <i>
                                    <div style="text-align: center;"><i>Опросный лист&nbsp;для технического задания на адаптацию дизельного двигателя ЯМЗ или ТМЗ</i>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2>Переоборудование отечественной техники на двигатели ЯМЗ и ТМЗ</h2>

                <p>Для отечественной техники наиболее частой причиной использования двигателя ЯМЗ с комплектом переоборудования является потребность в изменении технических характеристик изделия, а именно увеличения мощности и максимального крутящего момента.&nbsp;</p>

                <p>Установкой двигателя ЯМЗ или ТМЗ с комплектом переоборудования во многих случаях решается казалось бы неразрешимая задача, когда базовый двигатель снят с производства и запасные части на него уже не выпускаются. Запасные же части на моторы ЯМЗ и ТМЗ можно заказать у нас, или при срочной потребности приобрести в ближайшем магазине большегрузной техники.&nbsp;</p>

                <p>Спроектированы и изготовлены комплекты переоборудования двигателей ЯМЗ (ТМЗ) на:</p>

                <ul>
                    <li>Кировец К-700 и К-701, Т-4, Т-150, ДТ-75, ВТ-100 и ВТ-150 - колесные и гусеничные тракторы;</li>
                    <li>Acros-580, Полесье-812, Енисей-960,&nbsp;Дон-680, Дон-1200 и Дон-1500, КСК-100 - комбайны;</li>
                    <li>ТГМ3, ТГМ23 - тепловозы;</li>
                    <li>многую другую технику.</li>
                </ul>

                <div>


                    <h2>Стоимость наиболее востребованных комплектов переоборудования</h2>

                    <p>
                        <strong>Цены действуют с 01 января 2018г.</strong>
                    </p>
                    <table class="catalog-table section-list-" style="border-collapse: collapse;">
                        <tbody>
                        <tr><th>Наименование техники</th><th class="prop32">Комплект переоборудования к двигателю</th><th class="prop33">Заменяемый двигатель</th><th class="prop34">Цена комплекта с НДС</th></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Сельскохозяйственные тракторы</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Buhler 2210 </td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-536</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Constant Power Plus</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">420 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Buhler Versatile 2375</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins QSM11</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">340 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Buhler Versatile 425</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Buhler Versatile 435</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Buhler Versatile 535</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-240НМ2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">390 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Buhler Versatile 535</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Case Steiger 500</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Case Steiger 530</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">New Holland TJ450</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">New Holland TJ530</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8486.10-05</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins QSM15</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">360 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Бульдозеры</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Shantui SD32</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-7511.10-06 или ЯМЗ-238ДЕ2-2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins NTA855-C360</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">520 000 с интеркулером </td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Shantui SD32</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8481.10</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins NTA855-C360</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu D-155A </td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-240М2 или ЯМЗ-240БМ2-4</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">SA6D-155-4A </td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu D-355A</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-240НМ2 или ТМЗ-8481</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">SA6D-155-4A </td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Caterpillar D6</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-236М2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cat-C9</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Caterpillar D8N</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238Д</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cat-3406C TA</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">470 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Caterpillar D9L</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8481.10</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cat-3408</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">470 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Caterpillar D9N</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8481.10</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cat-3408</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">470 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Caterpillar D10N</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-850.10</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cat-3412TA </td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">470 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Mitsubi 230</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-7511.10-06</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins NT855-C280</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">ДЭТ-250</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-7514.10</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">2Д-12</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">530 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Трубоукладчики</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu D-155C</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-240М2 или ЯМЗ-240БМ2-4</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">SA6D-155-4A </td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu D-355C</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-240М2, ЯМЗ-240БМ2-4 или ТМЗ-8481</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">SA6D-155-4A</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Экскаваторы</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Hitachi ЕХ 350</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238Д-1</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins A-6RB1TQA</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">350 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Hitachi ЕХ 400</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238Д-1</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins A-6RB1TQA</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">350 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Hitachi ЕХ 700</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ТМЗ-8481</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins NTA855-С450</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">350 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu PW-180</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ММЗ-Д245.Е30</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">SAA6D102E-2</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">350 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu PC-360 (кроме 7 серии)</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238М2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> SA6D108</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">400 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Komatsu PC-400 (кроме 7 серии)</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238М2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">SA6D125</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">400 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">TDRESSTA TD25C</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-7511.10-06 или ЯМЗ-238ДЕ2-2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins </td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">470 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Orensrein&amp;Koppel RH-30C</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238Д-1</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins VT903 KW/300</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">470 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Hidromek HMK 220LC</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-236M2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;"> Cummins 6D34-TLU2D</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">380 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Погрузчики</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Hyundai HL770</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238ДЕ2-2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">QSL</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">450 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Комбайны</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Енисей 967</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-236НЕ2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Д-3045КР</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">400 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Палессе (КЗС) GS812 </td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-236НЕ2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">ММЗ-Д260</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">210 000</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Палессе (КЗС) GS812</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238М2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">ММЗ-Д260</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">230 000 с ВМР</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">Акрос 560</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;">ЯМЗ-238Д-1</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">Cummins QSC8.3</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">210 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Тепловозы</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;">ТГМ 23</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;"> ЯМЗ-238Д-1 или ТМЗ-8481.10</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">1Д12-400Б</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">250 000</td></tr>

                        <tr id="bx_2037796212_29" class="catalog-table-category"><td colspan="4" style="border-image: none 100% / 1 / 0 stretch;">Форвардеры</td></tr>

                        <tr><td class="catalog-table-model" style="border-image: none 100% / 1 / 0 stretch;"> Timberjack 1410</td><td class="prop-32" style="border-image: none 100% / 1 / 0 stretch;"> ЯМЗ-236М2</td><td class="prop-33" style="border-image: none 100% / 1 / 0 stretch;">John Deere 6068 HTJ77</td><td class="prop-34" style="text-align: justify; border-image: none 100% / 1 / 0 stretch;">390 000</td></tr>
                        </tbody>
                    </table>

                    <br>
                    <b> Заказы на адаптацию двигателя ЯМЗ принимаются от единицы техники, вне зависимости от наличия на нее готовой конструкторской разработки. Шефмонтаж осуществляется.</b><b>
                        <p></p>
                    </b></div><b>
                <div class="clear"></div>
            </b></div>
        </div>
    </div>
</div>

<!--=include template/footer.html -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/slick.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>
