@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=); }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px; }

h1 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px; }

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.54; }

p {
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 15px; }

.flex-block {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-block .flex-item-50 {
    width: 50%;
    padding: 0; }

.delimiter-text {
  font-size: 20px;
  padding: 50px 200px; }

.block-delimiter {
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
  margin-bottom: -100px;
  z-index: -1; }
  .block-delimiter-image {
    width: 103%; }
  .block-delimiter-image img {
    width: 100%; }

.block-delimiter-right {
  position: relative;
  overflow: hidden;
  width: 100%;
  top: -150px;
  margin-bottom: 0px;
  z-index: -1; }
  .block-delimiter-right-image {
    width: 103%; }
  .block-delimiter-right-image img {
    width: 100%;
    margin-left: -50px; }

.advantages .flex-block {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.advantages .advantage-item {
  max-width: 33%;
  padding: 0 15px 40px 15px; }
  .advantages .advantage-item-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 25px; }
  .advantages .advantage-item-text {
    padding-top: 15px; }

.top-block {
  margin-top: 0; }

.index-slider {
  margin-top: 120px; }

.form .button {
  max-width: 100%; }

.form .form__button {
  width: 100%; }

.popup__overlay {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: -200;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  overflow: auto; }
  .popup__overlay_active {
    z-index: 200;
    opacity: 1; }

.popup {
  display: none;
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 15px;
  color: #031488;
  background: white;
  cursor: default; }
  .popup_active {
    display: block; }
  .popup__close {
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMiIgaGVpZ2h0PSIyMiIgdmlld0JveD0iMCAwIDIyIDIyIj4KICAgIDxwYXRoIGZpbGw9IiNEOEQ4RDgiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTEyLjk0NiAxMWw4LjY1LTguNjUxQTEuMzc1IDEuMzc1IDAgMSAwIDE5LjY1Mi40MDNsLTguNjUgOC42NTJMMi4zNDguNDAzQTEuMzc1IDEuMzc1IDAgMSAwIC40MDMgMi4zNUw5LjA1NSAxMSAuNDAzIDE5LjY1MmExLjM3NSAxLjM3NSAwIDEgMCAxLjk0NiAxLjk0NUwxMSAxMi45NDVsOC42NTEgOC42NTJhMS4zNzIgMS4zNzIgMCAwIDAgMS45NDYgMCAxLjM3NSAxLjM3NSAwIDAgMCAwLTEuOTQ2bC04LjY1MS04LjY1eiIvPgo8L3N2Zz4K") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    cursor: pointer; }

.form {
  position: relative;
  cursor: default; }
  .form__title {
    margin-bottom: 30px;
    text-align: center; }
  .form__input {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px 15px;
    color: #5d5d63;
    font-size: 14px;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 21px;
    border-radius: 21px;
    outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #5d5d63;
      opacity: 1;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .form__input::-moz-placeholder {
      color: #5d5d63;
      opacity: 1;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .form__input::-ms-input-placeholder {
      color: #5d5d63;
      opacity: 1;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .form__input::placeholder {
      color: #5d5d63;
      opacity: 1;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .form__input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .form__input:focus::-moz-placeholder {
      opacity: 0; }
    .form__input:focus::-ms-input-placeholder {
      opacity: 0; }
    .form__input:focus::placeholder {
      opacity: 0; }
    .form__input_textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 121px;
      height: 121px;
      max-height: 121px;
      outline: none; }
  .form__file {
    position: absolute;
    z-index: -50;
    width: 0;
    height: 0;
    opacity: 0; }
  .form__text {
    margin-top: 10px;
    font-size: 12px; }
  .form__textFile {
    margin-top: 5px;
    text-align: center;
    font-size: 12px; }
  .form__button {
    display: table;
    margin: 30px auto; }
  .form__success {
    position: absolute;
    z-index: -150;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s; }
    .form__success_active {
      z-index: 150;
      opacity: 1; }
  .form_active {
    z-index: 110;
    opacity: 1; }

.form .form__buttonFile {
  margin-top: 30px;
  color: #323237;
  min-width: auto; }

.form .form__button {
  width: 100%; }

label {
  display: block;
  text-align: center; }
  label .button {
    margin: 0 auto; }

.g-recaptcha {
  margin: 30px 0; }

.breadcrumb {
  margin-top: 140px;
  background: none;
  padding-left: 0; }
  .breadcrumb ul li {
    display: inline-block;
    margin-right: 20px;
    line-height: 1.5; }
    .breadcrumb ul li span {
      font-size: 12px; }
    .breadcrumb ul li a {
      position: relative;
      font-size: 12px;
      text-decoration: underline; }
    .breadcrumb ul li a:after {
      content: "→";
      color: #1378bb;
      position: absolute;
      right: -16px;
      top: -1px; }

.filter .nav {
  font-size: 13px;
  font-weight: 600; }
  .filter .nav .active span {
    display: block;
    padding: 10px;
    background: #1378bb;
    color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  .filter .nav li {
    padding: 10px 15px; }
    .filter .nav li a {
      padding: 0;
      border-bottom: 1px #333 dashed; }
      .filter .nav li a:hover {
        color: #1378bb;
        background-color: transparent;
        border-bottom: 1px #1378bb dashed; }

.engines {
  margin-top: 50px;
  color: #333; }
  .engines-engine {
    position: relative;
    margin-bottom: 110px; }
    .engines-engine:last-child {
      margin-bottom: 0; }
    .engines-engine-bg {
      background: #f3f3f3;
      min-height: 240px;
      font-size: 270px;
      font-weight: 800;
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      width: 100%; }
      .engines-engine-bg .bg-name {
        line-height: .7;
        bottom: 0;
        width: 100%;
        position: absolute; }
    .engines-engine .engine-info {
      position: relative;
      z-index: 9;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch; }
      .engines-engine .engine-info-image {
        display: inline-block;
        width: 50%;
        text-align: center;
        margin-top: 50px; }
      .engines-engine .engine-info-name {
        display: inline-block;
        width: 50%;
        margin-top: 80px; }
        .engines-engine .engine-info-name .engine_name {
          font-size: 32px;
          font-weight: 900;
          margin-bottom: 20px; }
        .engines-engine .engine-info-name .engine_desc {
          font-size: 18px;
          font-weight: 600; }
      .engines-engine .engine-info-desc {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        width: 50%; }
        .engines-engine .engine-info-desc .info-desc-item {
          display: inline-block;
          width: 33%; }
          .engines-engine .engine-info-desc .info-desc-item .desc-name {
            color: #1378bb;
            font-size: 34px;
            font-weight: bold;
            margin-bottom: 15px; }
          .engines-engine .engine-info-desc .info-desc-item .desc-txt {
            font-size: 14px; }
      .engines-engine .engine-info-addon-image {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 50%; }
        .engines-engine .engine-info-addon-image .addon-image {
          width: 33%; }
          .engines-engine .engine-info-addon-image .addon-image img {
            width: 100%; }
        .engines-engine .engine-info-addon-image .engine-buttons {
          position: absolute;
          width: 50%;
          margin-top: -80px;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
          justify-content: flex-start; }
          .engines-engine .engine-info-addon-image .engine-buttons .button {
            width: auto;
            padding: 10px 15px;
            margin-right: 20px; }
    .engines-engine .engine-info-addon {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .engines-engine:after {
      content: '';
      display: block; }
  .engines a.button_border_blue:hover {
    text-decoration: none; }

.link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  margin: 60px 0px 20px 0px; }
  .link li {
    border-bottom: 1px #1378bb solid; }
    .link li a {
      display: block;
      font-size: 24px;
      color: #1378bb;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 50px; }
      .link li a:hover {
        background: #1378bb;
        color: #fff;
        text-decoration: none; }
      .link li a span {
        font-weight: normal;
        font-size: 18px; }

.link.top-0 {
  margin-top: 0px; }

.blue-text {
  font-size: 24px;
  color: #1378bb;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 50px; }

.engine-bottom-text {
  font-size: 18px;
  line-height: 1.3; }

.engine .big-show h1 {
  font-size: 23px; }

.engine-image-block-big {
  padding: 50px; }
  .engine-image-block-big img {
    width: 100%; }

.engine-image-block-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0px; }
  .engine-image-block-small-img {
    width: 33%;
    height: 120px;
    padding: 5px;
    text-align: center; }
    .engine-image-block-small-img img {
      height: 100%; }

.engine-desc-block-usage {
  margin-top: 30px; }
  .engine-desc-block-usage-title {
    font-size: 18px;
    font-weight: 500; }
  .engine-desc-block-usage-list {
    position: relative; }
    .engine-desc-block-usage-list ul {
      color: #333333;
      padding-left: 25px; }
      .engine-desc-block-usage-list ul li {
        margin: 10px 0;
        line-height: 1.6; }
        .engine-desc-block-usage-list ul li:before {
          content: url("/img/list-style.png");
          position: absolute;
          left: 0;
          margin-top: -3px; }
  .engine-desc-block-usage-info {
    display: block;
    margin-top: 50px; }
    .engine-desc-block-usage-info .info-price {
      display: inline-block;
      color: #cb3232;
      font-size: 34px;
      font-weight: 800;
      float: left;
      margin-right: 40px; }
      .engine-desc-block-usage-info .info-price span {
        font-weight: normal;
        vertical-align: middle;
        border-bottom: 2px solid;
        line-height: 13px;
        display: inline-block;
        width: .6em; }

.engine-desc-block h1 {
  font-size: 32px;
  font-weight: 900; }

.engine .single-image {
  padding: 10px;
  margin-top: 40px; }
  .engine .single-image img {
    width: auto;
    display: block;
    margin: 0 auto; }

.engine-mobile-title {
  margin-top: 0; }

.tth-table {
  margin-top: 80px;
  margin-bottom: 50px; }
  .tth-table .table-name {
    font-size: 17px;
    background: #1378bb;
    color: #ffffff;
    padding: 15px; }
  .tth-table .table-body .table-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.6; }
    .tth-table .table-body .table-row:nth-child(even) {
      background: #eeeeee; }
  .tth-table .table-body .table-col {
    padding: 15px;
    width: 33%; }
    .tth-table .table-body .table-col:first-child {
      border-right: 2px #ffffff solid; }
    .tth-table .table-body .table-col:nth-child(3) {
      border-left: 2px #ffffff solid; }

.engines.family {
  margin-top: 10px; }

.family {
  margin-bottom: 50px; }

#content {
  margin-bottom: 50px; }

.block-title {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 60px; }
  .block-title span {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px; }

.engines-list {
  margin-bottom: 60px; }
  .engines-list .list-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 35px; }
  .engines-list .list {
    max-height: 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .engines-list .list a {
      display: block;
      margin-bottom: 10px;
      text-decoration: underline; }

.s-h1 {
  font-size: 20px;
  font-weight: bold; }

.read-more-link {
  display: none; }

.more-close:after {
  content: url("/img/caret-close.png");
  position: absolute;
  right: 15px; }

.more-open:after {
  content: url("/img/caret-open.png");
  position: absolute;
  right: 15px; }

.button {
  display: block;
  max-width: 200px;
  width: 100%;
  padding: 10px 10px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333;
  cursor: pointer;
  text-align: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid transparent;
  outline: none;
  background: none; }
  .button_border_blue {
    border: 2px solid #1378bb; }
    .button_border_blue:hover {
      color: white !important;
      background: #1378bb; }
  .button_border_white {
    border: 2px solid white;
    color: #fff; }
    .button_border_white:hover {
      color: #333333;
      background: white; }
  .button_bg_blue {
    background: #1378bb;
    color: #ffffff; }
    .button_bg_blue:hover {
      border: 2px solid #1378bb;
      background: none;
      color: #333; }

.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .header_mini {
    -webkit-transform: translateY(-75px);
    -ms-transform: translateY(-75px);
    transform: translateY(-75px); }
    .header_mini .header_nav {
      background: #333333; }
      .header_mini .header_nav li a {
        color: #ffffff; }
    .header_mini .header_menu_block {
      height: 57px; }
    .header_mini .logo {
      top: 88px; }

.header_nav {
  background: #e8e8e8; }

.logo {
  position: absolute;
  left: 15px;
  top: 0; }

.header_mini .logo-big {
  display: none; }

.header_mini .logo-min {
  display: block; }

.logo-min {
  display: none; }

.header_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  max-width: 1290px;
  margin: 0 auto; }
  .header_block_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1290px;
    margin: 0 auto; }

.header_menu_block {
  height: 43px; }

.nav {
  text-transform: uppercase; }
  .nav li {
    display: inline-block; }
    .nav li a {
      color: #333333;
      font-weight: 600;
      font-size: 12px;
      padding-left: 0; }
      .nav li a:focus {
        background-color: transparent;
        outline: none; }
      .nav li a:hover {
        background-color: transparent;
        outline: none; }

.header_info_block_top {
  height: 75px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .flex-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

.header_info {
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  font-weight: 600;
  border-bottom: 1px #333 dashed; }
  .header_info:hover {
    text-decoration: none;
    color: #333333; }

.header__sandwich, .nav__sandwich {
  position: absolute;
  z-index: 101;
  top: 30px;
  right: 23px;
  width: 30px;
  height: 25px;
  border-top: 3px solid #323237;
  cursor: pointer; }

.header__sandwich:before, .nav__sandwich:before {
  content: '';
  display: block;
  height: 3px;
  margin-top: 8px;
  background: #323237;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.header__sandwich:after, .nav__sandwich:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: #323237;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.header__sandwich_open, .nav__sandwich_open {
  top: 25px;
  border: none; }

.header__sandwich_open:before, .nav__sandwich_open:before {
  width: 100%;
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.header__sandwich_open:after, .nav__sandwich_open:after {
  bottom: 5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.index-slider {
  position: relative;
  margin-bottom: 60px; }

.slider {
  display: block;
  height: auto;
  width: 100%;
  background: url("/img/slider_bg.jpg") no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover; }
  .slider .slide-body {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .slider .slide-body-logo {
      margin-top: -50px;
      min-width: 250px; }
      .slider .slide-body-logo img {
        margin: 0 auto; }
    .slider .slide-body-image {
      margin-top: 50px; }
      .slider .slide-body-image img {
        margin: 0 auto; }
    .slider .slide-body-text {
      margin-top: -50px; }
      .slider .slide-body-text-title {
        color: #1378bb;
        font-size: 34px;
        font-weight: 800;
        margin-bottom: 10px; }
      .slider .slide-body-text-desc {
        color: #333333;
        font-size: 18px;
        font-weight: 600; }

.slick-dots li {
  margin: 0px 10px; }

.slick-dots li button {
  font-size: 0;
  /* more CSS */ }

.slick-dots li.slick-active button:before {
  content: url("/img/slide_dot_active.png");
  opacity: 1; }

.slick-dots li button:before {
  content: url("/img/slide_dot.png");
  opacity: 1; }

.footer {
  background: #333333;
  color: #fff;
  font-size: 13px;
  margin-top: 50px;
  padding-top: 40px; }
  .footer-phone {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    display: inline-block; }
  .footer-button {
    display: inline-block;
    margin-left: 0;
    min-width: 180px; }
  .footer-desc {
    font-size: 13px;
    line-height: 1.7;
    padding-right: 20px; }
  .footer-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 115px; }
    .footer-menu-item {
      margin-bottom: 20px;
      padding-right: 15px;
      width: 50%; }
      .footer-menu-item a {
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600; }
  .footer .copyright {
    font-size: 10px;
    padding: 25px 0; }

.news-date-time {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  font-weight: 600; }

h2, h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold; }

.news-item a {
  padding: 0;
  border-bottom: 1px #333 dashed; }

.news-item a:hover {
  padding: 0;
  border-bottom: 1px #333 dashed;
  text-decoration: none; }

.content img {
  max-width: 100%;
  margin: 10px 10px 10px 10px; }

.content h2 {
  font-size: 14px; }

.content td {
  vertical-align: middle; }

.content ul {
  list-style-type: disc;
  list-style-image: none;
  margin-left: 20px;
  margin-bottom: 30px; }
  .content ul li {
    padding: 5px 0px; }

.catalog-table {
  width: 100%; }
  .catalog-table tr:nth-child(odd) {
    background: #eeeeee; }
  .catalog-table tr:nth-child(even) {
    background: #fff; }
  .catalog-table th {
    padding: 15px;
    font-size: 11px;
    vertical-align: middle;
    /* font-weight: bold; */
    text-align: left;
    background: #1378bb;
    color: #fff;
    font-size: 17px; }
  .catalog-table td {
    border: solid 2px #FFFFFF;
    padding: 15px;
    font-size: 15px;
    height: 12px;
    line-height: 14px;
    vertical-align: middle;
    text-align: left; }

.contact-content .contact-col-head {
  font-weight: bold;
  font-size: 16px; }

.contact-content .contact-col-title {
  font-weight: bold;
  display: block; }

.contact-content .contact-city {
  display: block;
  font-style: italic;
  text-decoration: underline; }

.contact-content a {
  display: block; }

.contact-content .map-img {
  width: 100%;
  margin-bottom: 20px; }

.contact-content .form__title {
  text-align: left;
  margin-bottom: 0px; }

.contact-content ul {
  margin-bottom: 20px; }

.contact-content li {
  margin-left: 0;
  padding-left: 25px;
  padding-bottom: 10px;
  background: url("/img/dash.gif") no-repeat 0 9px; }

.contact-content b {
  font-weight: bold; }

.contact-header {
  display: block;
  padding: 50px;
  margin-bottom: 30px;
  background: #F3F5F8; }
  .contact-header b {
    font-weight: bold; }
  .contact-header .contact-header-links {
    margin-top: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .contact-header .contact-header-text h1 {
    margin-top: 0px; }
  .contact-header .contact-header-text div {
    font-size: 16px;
    margin-bottom: 20px; }
  @media (max-width: 1600px) {
    .block-delimiter {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      overflow: hidden;
      width: 100%;
      max-height: 440px;
      margin-top: 100px;
      margin-bottom: -100px;
      z-index: -1; }
      .block-delimiter-image {
        width: 100%; }
      .block-delimiter-image img {
        width: auto;
        height: 100%; }
    .block-delimiter-right {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      overflow: hidden;
      width: 100%;
      max-height: 440px;
      top: -150px;
      margin-bottom: 0px;
      z-index: -1; }
      .block-delimiter-right-image {
        width: auto; }
      .block-delimiter-right-image img {
        width: auto;
        height: 100%;
        margin-left: auto; }
        .engines-engine-bg {
          font-size: 270px; }
    .slider {
      display: block;
      height: auto;
      width: 100%;
      background: url("/img/slider_bg.jpg") no-repeat top center;
      -webkit-background-size: contain;
      background-size: contain; } }
  @media (min-width: 1290px) {
  .container {
    width: 1290px; }
    .popup {
      padding: 60px; }
      .form__text {
        margin-top: 30px; } }
  @media (max-width: 1290px) {
    .delimiter-text {
      padding: 50px 100px; }
      .block-delimiter-image img {
        margin-left: -100px; }
    .block-delimiter-right {
      margin-bottom: -80px; }
      .block-delimiter-right-image img {
        margin-right: -100px; }
        .engines-engine-bg {
          font-size: 200px; }
      .engine .single-image img {
        width: 100%; }
      .nav li:last-child {
        padding-right: 15px; }
        .nav li a {
          font-size: 11px;
          padding-right: 10px; }
      .footer-menu {
        height: 130px; } }
  @media (max-width: 1199px) {
        .nav li a {
          font-size: 10px;
          padding-right: 5px; }
          .slider .slide-body-logo img {
            display: none; }
        .slider .slide-body-image {
          margin-top: 20px; }
          .slider .slide-body-image img {
            width: 80%; }
      .footer-button {
        margin-left: 40px;
        margin-top: 20px; }
      .footer-menu {
        height: 95px;
        margin-top: 50px; }
        .footer-menu-item {
          width: 33%; } }
  @media (max-width: 1024px) {
    .logo {
      left: 0; }
        .nav li a {
          font-size: 9px;
          padding-right: 5px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 16px; }
    p {
      font-size: 14px; }
    .block-delimiter {
      max-height: 340px;
      margin-top: 70px;
      margin-bottom: -100px; }
      .block-delimiter-image img {
        margin-left: -80px; }
    .block-delimiter-right {
      max-height: 340px;
      top: -130px;
      margin-bottom: -80px; }
      .block-delimiter-right-image img {
        margin-right: -50px; }
    .breadcrumb {
      margin-top: 100px; }
  .filter {
    margin-top: 0px; }
        .engines-engine-bg {
          font-size: 150px; }
          .engines-engine .engine-info-desc {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column; }
            .engines-engine .engine-info-desc .info-desc-item {
              width: 100%; }
              .engines-engine .engine-info-desc .info-desc-item .desc-name {
                font-size: 20px;
                display: inline-block;
                margin-right: 10px; }
              .engines-engine .engine-info-desc .info-desc-item .desc-txt {
                font-size: 13px;
                display: inline-block; }
              .engines-engine .engine-info-addon-image .engine-buttons .button {
                color: #333; }
        .link li a {
          font-size: 20px; }
          .link li a span {
            font-size: 16px; }
    .blue-text {
      font-size: 20px; }
    .engine-bottom-text {
      font-size: 16px; }
      .engine-image-block-small-img {
        height: 80px; }
      .engine-desc-block-usage-title {
        margin-top: 30px; }
        .engine-desc-block-usage-info .info-price {
          display: block;
          margin-bottom: 20px; }
    .engine-desc-block h1 {
      font-size: 28px;
      font-weight: 900; }
    .engine .single-image {
      margin-top: auto; }
      .engine .single-image img {
        width: 100%; }
    .tth-table {
      margin-bottom: 20px; }
      .tth-table .table-name {
        font-size: 15px; }
      .block-title span {
        font-size: 16px;
        margin-top: 15px; }
    .block-title {
      font-size: 28px; }
    .button {
      margin-top: 20px; }
    .header .header_nav {
      background: #444349;
      padding-bottom: 30px;
      padding-top: 15px;
      height: 100%; }
      .header .header_nav li a {
        color: #ffffff; }
    .header_mini {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none; }
      .header_mini .header__sandwich {
        top: 15px;
        border-top: 3px solid #fff; }
      .header_mini .header__sandwich:before {
        content: '';
        background: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      .header_mini .header__sandwich:after {
        content: '';
        background: #fff;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s; }
      .header_mini .header__sandwich_open {
        border: none;
        top: 9px; }
      .header_mini .header_block {
        display: block;
        position: fixed;
        max-width: 1290px;
        width: 100%;
        height: 55px;
        margin: 0 auto;
        background: #333333; }
      .header_mini .header_nav {
        background: #444349;
        height: 100%; }
        .header_mini .header_nav li a {
          color: #ffffff; }
      .header_mini .header_menu_block {
        height: auto; }
      .header_mini .logo {
        top: 13px;
        height: 30px;
        left: 23px; }
      .header_mini .top-menu {
        position: fixed;
        width: 100%;
        z-index: 99;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: transform .5s, -webkit-transform .5s;
        top: 55px;
        height: 100%; }
        .header_mini .top-menu-open {
          -webkit-transform: none;
          -ms-transform: none;
          transform: none;
          top: 55px; }
        .header_mini .top-menu .header_info_block {
          margin: 0; }
    .header_nav li {
      display: block; }
    .header_nav li a {
      color: #ffffff; }
      .header_nav li a:focus {
        background-color: transparent;
        outline: none; }
      .header_nav li a:hover {
        background-color: transparent;
        outline: none; }
  .top-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .5s, -webkit-transform .5s; }
    .top-menu-open {
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      height: 100%; }
      .top-menu-open .button_border_blue {
        color: #ffffff; }
      .top-menu-open .header_nav {
        height: 100%; }
  .logo {
    left: 0;
    height: 85px; }
  .index-slider {
    margin-top: 85px; }
    .header_menu_block {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      background-color: #444349;
      height: auto;
      padding-left: 30px; }
        .nav li a {
          font-size: 14px; }
  .header_info_block {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 85px;
    background-color: #444349;
    border-bottom: 1px #55545a solid;
    height: auto;
    padding: 30px 0;
    padding-left: 15px; }
  .header_info_block .logo {
    top: -118px; }
      .flex-end {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
      .flex-end-first-item {
        max-width: 200px; }
    .header_info {
      border-bottom: 1px #fff dashed;
      color: #fff; }
    .slider {
      display: block;
      height: auto;
      width: 100%;
      background: url("/img/slider_bg_lg.jpg") no-repeat top center;
      -webkit-background-size: contain;
      background-size: contain; }
        .slider .slide-body-logo {
          min-width: 200px; }
        .slider .slide-body-logo {
          margin-top: 10px; }
          .slider .slide-body-logo img {
            width: 80%; }
        .slider .slide-body-image {
          margin-top: 20px; }
          .slider .slide-body-image img {
            width: 80%; }
        .slider .slide-body-text {
          margin-top: -30px; }
          .slider .slide-body-text-title {
            font-size: 28px; }
          .slider .slide-body-text-desc {
            font-size: 16px; } }
  @media (min-width: 992px) {
    .header__sandwich, .nav__sandwich {
      display: none; } }
  @media (max-width: 767px) {
    h1 {
      font-size: 15px; }
    p {
      font-size: 14px; }
    .delimiter-text {
      padding: 50px 0;
      text-align: left;
      font-size: 18px; }
    .engines {
      margin-top: 0; }
        .engines-engine-bg {
          font-size: 100px; }
        .engines-engine .engine-info {
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: reverse;
          -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
          .engines-engine .engine-info-image {
            width: 100%;
            margin-top: 30px; }
          .engines-engine .engine-info-image img {
            width: 65%; }
          .engines-engine .engine-info-name {
            margin-top: 20px;
            margin-left: 20px;
            width: 100%; }
            .engines-engine .engine-info-name .engine_name {
              font-size: 24px; }
            .engines-engine .engine-info-name .engine_desc {
              font-size: 14px; }
          .engines-engine .engine-info-desc {
            width: 100%; }
          .engines-engine .engine-info-addon-image {
            width: 100%; }
              .engines-engine .engine-info-addon-image .engine-buttons .button {
                margin-top: 0;
                margin-bottom: 10px;
                margin-right: 10px; }
            .engines-engine .engine-info-addon-image .engine-buttons {
              width: 100%;
              top: auto;
              bottom: -70px;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -webkit-flex-direction: row;
              -ms-flex-direction: row;
              flex-direction: row; }
    .link {
      margin: 90px 0 10px 0; }
  .engine-desc-block {
    margin-top: 30px; }
    .family .engine-buttons .button {
      width: 100%;
      max-width: 100%; }
    .family {
      margin-bottom: 100px; }
      .block-title span {
        font-size: 14px;
        margin-top: 15px; }
    .block-title {
      font-size: 22px; }
      .engines-list .list {
        max-height: none; }
    .slider {
      display: block;
      height: auto;
      width: 100%;
      background: url("/img/slider_bg_lg.jpg") no-repeat top center;
      -webkit-background-size: cover;
      background-size: cover; }
        .slider .slide-body-text {
          margin: 15px; } }
  @media (max-width: 680px) {
      .tth-table .table-body .table-row {
        font-size: 13px;
        background: #eeeeee; }
      .tth-table .table-body .table-col.col-name {
        width: 100%;
        background: #ffffff; }
      .tth-table .table-body .table-col {
        width: 50%;
        background: #eeeeee; }
        .slider .slide-body-logo {
          min-width: 160px; }
  .slick-dots {
    bottom: -40px; } }
  @media (max-width: 425px) {
  * {
    text-align: left; }
    .flex-block {
      display: block; }
    .flex-block .flex-item-50 {
      width: 100%;
      padding: 0; }
    .delimiter-text {
      font-size: 16px; }
    .block-delimiter {
      max-height: 240px;
      margin-top: 50px;
      margin-bottom: -60px; }
      .block-delimiter-image img {
        margin-left: -50px; }
    .block-delimiter-right {
      max-height: 240px;
      margin-top: 80px;
      margin-bottom: -130px; }
      .block-delimiter-right-image img {
        margin-right: -50px; }
      .advantages .advantage-item-title {
        font-size: 15px; }
      .advantages .advantage-item-text {
        font-size: 12px; }
    .advantages .advantage-item {
      max-width: 100%; }
    .top-block {
      margin-top: 0; }
    .breadcrumb {
      margin-top: 60px; }
    .engines {
      margin-top: 0; }
        .engines-engine:last-child {
          margin-bottom: 60px; }
        .engines-engine-bg {
          font-size: 60px; }
    .link {
      margin: 40px 0 10px 0; }
        .link li a {
          font-size: 18px; }
          .link li a span {
            font-size: 14px; }
    .blue-text {
      font-size: 18px; }
    .engine-bottom-text {
      font-size: 15px; }
    .engine-desc-block h1 {
      font-size: 23px;
      font-weight: 900; }
    .tth-table {
      margin-bottom: 10px; }
      .tth-table .table-name {
        font-size: 14px; }
    .read-more-link {
      position: relative;
      width: 130px;
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 10px 20px;
      font-size: 12px;
      color: #333333;
      border: 1px #1378bb solid;
      -webkit-border-radius: 20px;
      border-radius: 20px; }
    .button {
      margin-top: 0; }
    .header_block {
      display: block;
      height: 55px;
      background: #333333; }
      .header_block .logo-min {
        top: 13px;
        height: 30px;
        left: 15px;
        display: block; }
      .header_block .logo-big {
        display: none; }
      .header_block .header__sandwich {
        top: 15px;
        border-top: 3px solid #fff; }
      .header_block .header__sandwich:before {
        content: '';
        background: #fff;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
      .header_block .header__sandwich:after {
        content: '';
        background: #fff;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s; }
      .header_block .header__sandwich_open {
        border: none;
        top: 9px; }
  .header_info_block {
    margin-top: 0; }
    .flex {
      width: 100%;
      margin-top: 20px; }
    .flex:first-child {
      max-width: 100%;
      margin-top: 0; }
    .index-slider {
      margin-top: 55px; }
    .slider {
      background: url("/img/slider_bg_xs.jpg") no-repeat top center;
      -webkit-background-size: contain;
      background-size: contain; }
      .slider .slide-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: baseline;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline; }
        .slider .slide-body-image {
          margin: 0 auto;
          margin-top: 105px; }
      .footer-phone {
        display: block;
        margin-top: 20px; }
      .footer-button {
        display: block;
        margin-left: 0; }
      .footer-desc {
        margin-top: 20px; }
      .footer-menu {
        height: auto;
        margin-top: 20px; }
        .footer-menu-item {
          width: 100%; } }
  @media (max-width: 374px) {
              .engines-engine .engine-info-addon-image .engine-buttons .button {
                width: 100%;
                max-width: 100%;
                margin-top: 0;
                margin-bottom: 10px;
                margin-right: 0; }
            .engines-engine .engine-info-addon-image .engine-buttons {
              width: 100%;
              top: auto;
              bottom: -90px;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column; }
        .slider .slide-body-image {
          margin-top: 75px; }
          .slider .slide-body-text-title {
            font-size: 24px;
            margin-bottom: 7px; }
          .slider .slide-body-text-desc {
            font-size: 15px; } }
